






<form action="/api/v1/payment/validate" method="post">

<!-- Card Pin --> 
  <label for="fname">Otp:</label><br>
  <input type="text" id="otp" name="otp" value="3310"><br>

  <input type="submit" value="Submit">
</form>